#about {
  h2,
  hr {
    display: inline-flex;
  }
  .about-content {
    padding-left: 5vw;
    height: 10vh;

    ul {
      display: inline-flex;
      flex-direction: column;
      flex-wrap: wrap;
      justify-content: flex-start;
      align-items: flex-start;
      margin: 1vh 2vw;
      width: 12vw;
      height: 12vh;

      li {
        margin: 1vh 2vw;
      }
    }
  }
}

@media only screen and (max-width: 600px) {
  #about {
    p {
      font-size: 3em;
    }
  }
}
