#contact {
  text-align: center;
  h4 {
    text-align: center;
    width: 60vw;
    padding: 1vh 2vw;
  }
  a {
    text-decoration: none;
    color: $dark-salmon;
  }
}

@media only screen and (max-width: 600px) {
  #contact {
    hr {
      width: 35vw;
    }
  }
}
