#project {
  text-align: center;
  div {
    width: 60vw;
    text-align: center;
    padding: 5vh 1vw;

    h4 {
      color: $tea-green;
      a {
        text-decoration: none;
        color: $dark-salmon;
      }
    }
  }
}
