@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");

$title-font-family: "Quicksand", sans-serif;
$main-font-family: "Comfortaa", sans-serif;
$deep-space-sparkle: hsla(187, 22%, 33%, 1);
$yellow-green-crayola: hsla(70, 53%, 74%, 1);
$light-goldenrod-yellow: hsla(57, 67%, 89%, 1);
$tea-green: hsla(95, 35%, 81%, 1);
$dark-salmon: hsla(18, 81%, 71%, 1);
$medium-carmine: hsla(7, 44%, 45%, 1);
$redwood: hsla(7, 37%, 49%, 1);

$heading1-size: 5em;
$heading2-size: 4em;
$heading4-size: 2em;
$p-size: 1.5em;
